# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pkl
*.log

# Environnements
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Outils
.vscode/
.idea/

# Données (brutes et générées)
dataset/**
!dataset/README.md

# Données générées
data/processed/
data/graph/
outputs/

